<h1>Character List</h1>

<p>Busca</p>


    <input
      type="text"
      maxlength="255"
      placeholder="Type @ to search..."
      class="form-control"
      rows="5"      
      [(ngModel)]="this.searchText"
      (ngModelChange)="this.autoSearch.next($event)"
      name="subject"
    />


<div *ngIf="this.models?.data?.results">
    <div *ngFor="let character of this.models.data.results">
        <app-character [character]="character" class="c-pointer"> </app-character>
     </div>
</div>