<h1>Character List</h1>

<p>Busca</p>


    <input
      type="text"
      maxlength="255"
      placeholder="Type @ to search..."
      class="form-control"
      rows="5"      
      [(ngModel)]="this.searchText"
      (ngModelChange)="this.autoSearch.next($event)"
      name="subject"
    />

    <p>Order by</p>
    <h4>Basic mat-select</h4>
    <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select (valueChange)="orderBy($event)">
          <mat-option value="name">ASC</mat-option>
          <mat-option value="-name">DESC</mat-option>
        </mat-select>
    </mat-form-field>


<div *ngIf="this.models?.data?.results">
    <div *ngFor="let character of this.models.data.results">
        <app-character [character]="character" class="c-pointer"> </app-character>
     </div>
</div>