<h1>Character List</h1>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Busca</mat-label>
        <input matInput type="text"
        maxlength="255"
        placeholder="Type @ to search..."
        class="form-control"
        rows="5"      
        [(ngModel)]="this.searchText"
        (ngModelChange)="this.autoSearch.next($event)"
        name="subject">
    </mat-form-field>
    
    </form>

    <mat-form-field appearance="fill">
        <mat-label>Order By</mat-label>
        <mat-select (valueChange)="orderBy($event)" [(value)]="selected">
          <mat-option value="name">ASC</mat-option>
          <mat-option value="-name">DESC</mat-option>
        </mat-select>
    </mat-form-field>


<div *ngIf="this.models?.data?.results" class="row">
    <div *ngFor="let character of this.models.data.results" class="col-md-4 col-sm-12">
        <app-character [character]="character" class="c-pointer"> </app-character>        
     </div>
</div>

<button *ngIf="this.models?.data?.results?.length > 1" mat-raised-button color="accent" appDebounceClick (debounceClick)="loadMore()">Load More</button>

